@import "../../../styles";

// Rules
:host {
  @include make-container();

  display: block;
}

.data {
  min-width: 250px;

  mat-card-content {
    min-height: 120px;

    margin-bottom: 0;

    padding-top: 8px;
  }

  mat-form-field {
    width: 100%;
  }
}

.foreground-type {
  mat-radio-group {
    display: flex;
    flex-wrap: wrap;
  }

  mat-radio-button {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

.icon {
  height: 100%;
  width: 50px;

  border-width: 2px;

  &:hover {
    border-color: mat-color($tour-of-heroes-primary, 300);
  }

  &.selected {
    border-color: mat-color($tour-of-heroes-primary, default);
  }
}
