<table mat-table matSort [dataSource]="dataSource">
  <!-- Columns -->
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let hero">
      <a routerLink="/details/{{ hero.id }}">{{ hero.name }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="universe">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Universe</th>
    <td mat-cell *matCellDef="let hero">{{ hero.universe }}</td>
  </ng-container>

  <!-- Rows -->
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<!-- Options -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
