@import "src/styles";

// Rules
:host {
  @include make-container();

  display: block;
}

.data {
  min-width: 250px;

  mat-card-content {
    min-height: 120px;

    margin-bottom: 0;

    padding-top: 8px;
  }

  mat-form-field {
    width: 100%;
  }
}

.foreground-type {
  mat-radio-group {
    display: flex;
    flex-wrap: wrap;
  }

  mat-radio-button {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
