<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero?.name || id }} Details</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="loading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </mat-card-content>

  <mat-card-content *ngIf="hero">
    <div>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput [value]="hero.id" disabled />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="hero.name" />
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      mat-button color="warn"
      [disabled]="loading"
      (click)="delete()"
    >
      DELETE
    </button>
    <button
      mat-button color="primary"
      [disabled]="loading"
      (click)="save()"
    >
      SAVE
    </button>
  </mat-card-actions>
</mat-card>
