// Rules
:host {
  display: block;
}

mat-card {
  max-width: 500px;

  mat-card-content {
    min-height: 120px;

    margin-bottom: 0;

    padding-top: 8px;
  }

  mat-form-field {
    width: 100%;
  }
}
