// Rules
:host {
  display: block;
}

.grid {
  display: flex;

  margin: -8px;

  > * {
    margin: 8px;
  }

  .data {
    flex-grow: 1;
    max-width: 500px;

    mat-card-content {
      min-height: 120px;

      margin-bottom: 0;

      padding-top: 8px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .qr {
    flex-shrink: 0;
  }
}
