// Rules
:host {
  display: block;
}

.grid {
  display: flex;
  margin: -8px;

  > div {
    margin: 8px;
  }
}

.heroes {
  min-width: 300px;
  flex-grow: 3;

  app-hero-list {
    min-height: 104px;
  }
}

.add-hero {
  min-width: 300px;
  flex-grow: 1;

  mat-card-content {
    margin-bottom: 0;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    align-items: center;
  }
}
