@import 'src/styles';

// Rules
:host {
  display: block;
}

mat-toolbar:not(.fake) {
  @include mat-elevation(4);
  position: fixed;
  top: 0;
  z-index: 1000;

  .title {
    flex-grow: 1;
  }
}

main {
  padding: 16px;

  .fake-toolbar {
    height: 64px;
  }
}
