@import 'src/styles';

// Rules
:host {
  display: block;
}

mat-toolbar:not(.fake) {
  @include mat-elevation(4);
  position: fixed;
  top: 0;
  z-index: 1000;

  .title {
    flex-grow: 1;
  }
}

.content {
  display: flex;
  padding: 16px;

  > * {
    margin: 8px;
  }

  main {
    flex-grow: 1;

    .fake-toolbar {
      height: 64px;
    }
  }

  app-messages {
    width: 400px;
  }
}
