@import 'src/styles';

// Rules
:host {
  display: block;
}

mat-toolbar:not(.fake) {
  @include mat-elevation(4);
  position: fixed;
  top: 0;
  z-index: 1000;

  .menu-btn {
    margin-right: 16px;
  }
}

mat-drawer-container {
  height: 100vh;

  mat-drawer {
    width: 250px;
  }

  mat-drawer-content {
    position: relative;
  }
}

main {
  padding: 16px;
  margin-bottom: 56px;
}
