<nav>
  <mat-toolbar color="primary">
    <button *ngIf="appBar.small && !appBar.back"
      mat-icon-button class="menu-btn"
      (click)="appBar.toggle()"
    >
      <mat-icon>{{ appBar.opened ? 'arrow_backward' : 'menu' }}</mat-icon>
    </button>
    <button *ngIf="appBar.back"
      mat-icon-button class="menu-btn"
      (click)="goBack()"
    >
      <mat-icon>arrow_backward</mat-icon>
    </button>
    <h1>{{ title }}</h1>
  </mat-toolbar>
</nav>

<mat-drawer-container>
  <mat-drawer
    [mode]="appBar.small ? 'over' : 'side'"
    [opened]="!appBar.small || appBar.opened"
    (closed)="appBar.close()"
  >
    <mat-toolbar class="fake"></mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"
        (click)="appBar.close()"
      >
        Dashboard
      </a>
      <a mat-list-item routerLink="/heroes"
        (click)="appBar.close()"
      >
        Heroes
      </a>
      <a mat-list-item routerLink="/tests"
        *ngIf="!production"
        (click)="appBar.close()"
      >
        Tests
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="fake"></mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>

    <app-messages></app-messages>
  </mat-drawer-content>
</mat-drawer-container>
