<app-layout>
  <app-appbar [title]="title">
    <app-logging-menu></app-logging-menu>
  </app-appbar>

  <mat-drawer-container>
    <mat-drawer app-drawer>
      <mat-nav-list>
        <a app-close-appbar mat-list-item routerLink="/dashboard">
          Dashboard
        </a>
        <a app-close-appbar mat-list-item routerLink="/heroes">
          Heroes
        </a>
        <a app-close-appbar mat-list-item routerLink="/tests"
          *ngIf="!production"
        >
          Tests
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</app-layout>
