<nav>
  <mat-toolbar class="toolbar" color="primary">
    <!-- Menu button -->
    <button *ngIf="appbar.small && !appbar.back"
      mat-icon-button class="menu-btn"
      (click)="appbar.toggle()"
    >
      <mat-icon>{{ appbar.opened ? 'arrow_backward' : 'menu' }}</mat-icon>
    </button>

    <!-- Back button -->
    <button *ngIf="appbar.back"
      mat-icon-button class="menu-btn"
      (click)="goBack()"
    >
      <mat-icon>{{ appbar.opened ? 'arrow_backward' : 'menu' }}</mat-icon>
    </button>

    <h1 class="title">{{ title }}</h1>

    <ng-content></ng-content>
  </mat-toolbar>
</nav>
