@import 'src/styles';

// Variables
$foreground: map-get($tour-of-heroes-theme, foreground);

// Rules
:host {
  display: block;
}

.grid {
  display: flex;

  > * {
    margin: 8px;
  }

  .top-heroes {
    min-width: 300px;
    flex-grow: 2;

    mat-card {
      padding: 0;

      mat-card-header {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  .search {
    min-width: 300px;
    flex-grow: 1;
  }
}
