@import 'src/styles';

// Variables
$foreground: map-get($tour-of-heroes-theme, foreground);

// Rules
:host {
  display: block;
}

.heroes {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 8px;
  }

  a {
    flex: 1 0;

    color: mat-color($foreground, text);
    text-underline: mat-color($foreground, text);

    h4 {
      margin: 0;
      text-align: center;
    }
  }
}
