// Rules
:host {
  display: block;
}

.grid {
  display: flex;
  margin: -8px;

  > div {
    margin: 8px;
  }
}

.heroes {
  min-width: 300px;
  flex-grow: 1;

  .hero a {
    flex-grow: 1;

    color: inherit;
  }
}

.add-hero {
  min-width: 300px;

  mat-card-content {
    margin-bottom: 0;
  }

  mat-form-field {
    width: 100%;
  }
}
