// Rules
:host {
  display: block;
}

.grid {
  display: flex;

  > div {
    margin: 8px;
  }
}

.heroes {
  min-width: 300px;
  flex-grow: 1;

  mat-card {
    padding: 0;

    mat-card-header {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .hero a {
    flex-grow: 1;

    color: inherit;
  }
}

.add-hero {
  min-width: 300px;

  mat-card-content {
    margin-bottom: 0;
  }

  mat-form-field {
    width: 100%;
  }
}
