/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 4px 0;
  height: 1.6em;
  border-radius: 4px;
  display: flex;
}

.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes li.selected {
  background-color: #CFD8DC;
  color: white;
}

.heroes li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.heroes li a {
  flex-grow: 1;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .delete {
  display: inline-block;
  border: none;
  color: white;
  background-color: #f44336;
  position: relative;
  top: -4px;
  height: calc(100% + 8px);
  border-radius: 0 4px 4px 0;
}
