// Rules
:host {
  display: block;
}

mat-card {
  mat-card-content {
    margin-bottom: 0;

    mat-form-field {
      width: 100%;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
  }

  mat-nav-list {
    padding-top: 0;
  }
}
