<mat-card>
  <mat-card-content>
    <mat-form-field appearance="standard">
      <mat-label>Search Heroes</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #searchBox (input)="search(searchBox.value)" />
    </mat-form-field>
  </mat-card-content>

  <app-loader-overlay *ngIf="loading"></app-loader-overlay>
  <mat-card-content *ngIf="loading"></mat-card-content>

  <mat-card-content *ngIf="empty && !loading">
    <p><em>No heroes found</em></p>
  </mat-card-content>

  <app-hero-list [heroes]="heroes$ | async"></app-hero-list>
</mat-card>
